<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @contact_u.name %>
</p>

<p>
  <b>Email:</b>
  <%= @contact_u.email %>
</p>

<p>
  <b>Content:</b>
  <%= raw @contact_u.content %>
</p>


<%= link_to 'Edit', edit_contact_u_path(@contact_u) %> |
<%= link_to 'Back', contact_us_path %>
